# Dependency directories
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Environment variables
.env

# Uploads directory
uploads/

# VS Code settings
.vscode/

# Operating System Files
.DS_Store
Thumbs.db 